# This is a basic workflow to help you get started with Actions

name: Run Cloud Tests

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Clone Test Repo
        run: |
          git config --global user.email "test.runner@github.action.com"
          git config --global user.name "test-runner"
          echo ${{secrets.PAT}} | gh auth login --with-token
          gh repo clone ${{secrets.TEST_REPO}}
